<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/header :: headFragment"></th:block>
    <h2>테스트</h2>
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            <th:block th:if="${userNames}">
                Logged in as : <span id="user" th:text="${userNames}"></span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            </th:block>
            <th:block th:unless="${userNames}">
                <a href="/posts/login" role="button" class="btn btn-primary">로그인</a>
            </th:block>
        </div>
    </div>
</div>
<br>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
        <tr th:each="postss :${posts}">
            <td th:text="${postss.id}"></td>
            <td><a th:href="@{'/posts/update/'+${postss.id}}" th:text="${postss.title}"> </a></td>
            <td th:text="${postss.author}"></td>
            <td th:text="${postss.modifiedDate}"></td>
        </tr>
    </tbody>
</table>
<th:block th:replace="layout/footer :: scriptFragment"></th:block>
</html>